
<div class="page-wrapper">
  <div class="container-fluid application-container">

    <div class="application tabletop panel panel-primary">

      <div class="panel-body">
        {{flash-message}}
        {{game-board}}
      </div>
    </div>

  </div>
</div>


