
<div class="page-wrapper">
  <div class="container-fluid application-container">

    <div class="application tabletop panel panel-primary">

      <div class="panel-body">
        {{game-board}}
      </div>

      <footer class="panel-footer clearfix">
        {{#bs-button class="btn btn-sm btn-primary pull-right"}}Attack{{/bs-button}}
      </footer>
    </div>

  </div>
</div>


